<h1>Pressings Index</h1>
<ul>
  <% @pressings.each do |pressing| %>
  <li>
    <%= link_to pressing.name.titlecase, pressing %>
  </li>
  <% end %>
</ul>

<center><%= link_to "New pressing", new_pressing_path, class: "btn btn-lg btn-primary" %></center>
