<style>
  .navbar,
  .footer {
    display: none;
  }
</style>

<div class="videoContainer">
<iframe width="560" height="315" src="https://www.youtube.com/embed/F-S0T4xTdLY?controls=0?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
