<h1>Help Page</h1>
<div>
  <p>Welcome to Goldoubloons!</p>
  <p>Here you can collect Goldoubloons and meet other Goldbuds!</p>
  <p>To join in the fun create an account and fill up your wallet.</p>
  <p>Each coin costs $10 and based on its rarity a coin will be randomly generated when you make a purchase.</p>
</div>
