<style>
  .navbar,
  .footer {
    display: none;
  }
</style>

<body style="background-color:black;">
  <!-- <h2>

    This is the home page for the Jeff Goldoubloons app
  </h2> -->
<% if logged_in? %>
  <%= link_to "Welcome home.", current_user, class: "welcome" %>
<% else %>
  <%= link_to "Enter all ye who seek the blum.", signup_path, class: "welcome" %>
<% end %>
</body>
<br>
<center><a href="/login" class="logged">Or log in.</a></center>
