<div class="center jumbotron">
  <h1>Welcome to the Jeff Goldoubloons App</h1>

  <h2>
    This is the home page for the Jeff Goldoubloons app
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("/assets/5.gif", alt: "Doubloon example"),
            '/signup' %>
