<div class="center jumbotron">
  <div id="clipped-title1">
    <h1>Welcome to Jeff Goldoubloons</h1>
  </div>
  <h2>
    This is the home page for the Jeff Goldoubloons app
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>

<center><%= link_to image_tag("/assets/5.gif", alt: "Doubloon example"),
            '/signup' %></center>
