<h1>User directory</h1>
<div class="collection">
<% @users.each do |user| %>
<div>
<img class="icon" src="<%= user.icon %>"><br>
<%= link_to user.display_name.titlecase, user %>
</div>
<% end %>
</div>
