<h1><%= @user.username %>'s profile</h1>
<ul>
  <li>Name: <%= @user.display_name.titlecase %></li>
  <li><%= @user.coins %></li>
</ul>

<%= button_to 'Edit user', edit_user_path, method: 'get' %>

<img src="/assets/4.gif">
