/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .collection {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
 }

 .container-fluid {
    margin-top: 15px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #eee;
  border-radius: 5px;
  height: 120px;
}

.icon {
  border-radius: 50px;
  width: 100px;
}

.welcome {
  background-color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:'Arimo', sans-serif;
	font-size:30px;
	padding:30px 25px;
	text-decoration:none;
}

.welcome:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url('/assets/eyes.png');
}

.logged {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 350%);
  font-family: 'Arimo', sans-serif;
}

.logged:hover {
  color: #606060;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 350%);
  font-family: 'Arimo', sans-serif;
}

.wallet {
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
