<!-- <img src="https://i.dlpng.com/static/png/132256_preview.png" class="hansen"/> -->
<footer class="footer">
  <small>
    <a href="">Goldoubloons</a>
    by <a href="">Mary</a> and <a href="">Chris</a>
  </small>
  <nav>
    <ul>
      <li><img width=10px src="https://image.flaticon.com/icons/png/512/25/25231.png">      <%= link_to "GitHub",   '/github link' %></li>
      <li>codeblooded at <a href="http://flatironschool.com/">Flatiron School</a></li>
    </ul>
  </nav>

</footer>
