<!-- <a href="/bepis"><img src="https://i.dlpng.com/static/png/132256_preview.png" class="liljeff"/></a> -->
<footer class="footer">
  <small>
    Goldoubloons
    by <a href="github.com/marycriv">Mary</a> and <a href="github.com/chrisyuaners">Chris</a>
  </small>
  <nav>
    <ul>
      <li><img width=10px src="https://image.flaticon.com/icons/png/512/25/25231.png">      <%= link_to "GitHub",   '/github repo link' %></li>
      <li><a href="/bepis">codeblooded</a> at <a href="http://flatironschool.com/">Flatiron School</a></li>
    </ul>
  </nav>

</footer>
