<meta HTTP-EQUIV="REFRESH" content="5; <%="/users/#{@coin.user.id}"%>">
<br><br>
<h3>Congratulations, <%=@coin.user.display_name.titlecase%>, you got the <%=@coin.pressing.name.titlecase%> coin!</h3>
<br><br>
<center><img src="<%= @coin.pressing.image_url %>"></center>
